<div class="container marketing">
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">入会について</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
  </div>

  <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-10">
      <h2 class="featurette-heading fw-normal lh-1">入会までの流れ</h2>
      <p class="lead"><br>
        1.下のリンクから「サークル資料」と「サークル規約」を確認。<br>
        2.見学か体験でサークルの雰囲気を見てもらう。<br>
        3.疑問点などは遠慮なく聞いてもらう。<br>
        4.入会フォームに回答
        
        </p>
    </div>
    
  <hr class="featurette-divider" style="margin-top: 40px;">

<div class="col-md-10">
  <h2 class="featurette-heading fw-normal lh-1">体験・見学可能日</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">開始</th>
        <th scope="col">終了</th>
        <th scope="col">場所</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= event.start_time.present? ? event.start_time.strftime("%H:%M") : "時間未設定" %></td>
          <td><%= event.finish_time.present? ? event.finish_time.strftime("%H:%M") : "時間未設定" %></td>
          <td><%= event.location %></td>
          <td><%= link_to '削除', event_path(event.id), data: { turbo_method: :delete }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
      <%= link_to '登録', new_event_path, class: 'btn btn-primary' %>
</div>

</div>


  <hr class="featurette-divider" style="margin-top: 40px;">


  <div class="col-md-8" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">入会前にこちらの資料をご確認ください</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image href="/images/about_image_4.jpg" width="100%" height="100%" />
      </svg>
      <h3 class="fw-normal">SQUAREについて</h3>
      <%= link_to document_home_path, class: "btn btn-secondary" do %>
        詳しく知る &raquo;
      <% end %>
    </div>
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image href="/images/about_image_5.jpg" width="100%" height="100%" />
      </svg>
      <h3 class="fw-normal">サークル規約</h3>
      <%= link_to show_2_home_path, class: "btn btn-secondary" do %>
        詳しく知る &raquo;
      <% end %>
    </div>
  </div>

  <hr class="featurette-divider">

</div>
