<div class="container marketing">
  <div class="col-md-12" style="margin-top: 80px; text-align: center;">
    <h1 class="featurette-heading fw-normal lh-1">入会について</h1>
  </div>
  <div class="row" style="margin-top: 40px;">
  </div>

  <hr class="featurette-divider" style="margin-top: 40px;">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading fw-normal lh-1">入会までの流れ</h2>
      <p class="lead"><br>
        1.見学・体験申し込みフォームに回答<br>
        2.対象の日が近づいたらこちらから連絡いたします。<br>
        3.実際のサークルの雰囲気を感じていただく。<br>
        4.各種資料を確認（下記のリンクから確認できます）。<br>
        5.入会フォームを別途案内するので回答して入会。
        
        </p>
    </div>
    
  <hr class="featurette-divider" style="margin-top: 40px;">

<div class="col-md-12">
  <h2 class="featurette-heading fw-normal lh-1">体験・見学可能日</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">開始</th>
        <th scope="col">終了</th>
        <th scope="col">場所</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.date.strftime("%Y年%m月%d日") %></td>
          <td><%= event.start_time.present? ? event.start_time.strftime("%H:%M") : "時間未設定" %></td>
          <td><%= event.finish_time.present? ? event.finish_time.strftime("%H:%M") : "時間未設定" %></td>
          <td><%= event.location %></td>
          <% if user_signed_in? %>
          <td><%= link_to '削除', event_path(event.id), data: { turbo_method: :delete }, class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
      <%= link_to '登録', new_event_path, class: 'btn btn-primary' %>
<% end %>
</div>


  <hr class="featurette-divider" style="margin-top: 40px;">


  <div class="row" style="margin-top: 40px;">
    <h2 class="featurette-heading fw-normal lh-1">各種資料・フォーム</h2>
      <p class="lead" ><br>
        こちらの資料や当ウェブサイトでSQUAREの事を知って頂ければ幸いです。<br>
        その他気になることはお気軽にお問い合わせください。<br>
        入会フォームに回答する前に規約を確認頂くようお願い致します。<br><br>
        </p>
    <div class="col-lg-6">
  <a href="https://drive.google.com/drive/folders/1kGhrDxyw8riVsYW160JzmnE6qzg6LgPx?usp=sharing" class="btn btn-primary btn-lg" role="button">確認資料一覧 &raquo;</a>
</div>

    <div class="col-lg-6  ">
      <%= link_to new_member_path, class: "btn btn-primary btn-lg" do %>
        体験・見学申し込みフォーム &raquo;
      <% end %>
    </div>
  </div>

  <hr class="featurette-divider" style="margin-top: 40px;">

</div>
