<%= form_with model: @band, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :band_name, 'バンド名' %>
    <%= form.text_field :band_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :members, 'メンバー (カンマ区切りで入力)' %>
    <%= form.text_field :members, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, '説明' %>
    <%= form.text_area :description, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :link_name, 'リンク名' %>
    <%= form.text_field :link_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :link_url, 'リンクURL' %>
    <%= form.text_field :link_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, '画像' %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit '登録', class: "btn btn-primary" %>
  </div>
<% end %>
