<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>バンド登録フォーム</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <%= form_with model: @band, local: true do |form| %>

        <!-- バンド名 -->
        <div class="mb-3">
          <%= form.label :band_name, 'バンド名' %>
          <%= form.text_field :band_name, class: "form-control", required: true %>
        </div>

        <!-- メンバー入力欄 -->
        <p>メンバー</p>
        <% (1..9).each_slice(3) do |i, j, k| %>
          <div class="row mb-3">
            <% [i, j, k].compact.each do |num| %>
              <div class="col">
                <%= form.text_field :"member_#{num}", class: "form-control", placeholder: "#{num}人目" %>
              </div>
            <% end %>
          </div>
        <% end %>

        <!-- 説明 -->
        <div class="mb-3">
          <%= form.label :description, 'バンド紹介' %>
          <%= form.text_area :description, class: "form-control",rows: 6, required: true %>
        </div>

        <!-- リンク入力欄 -->
        <div id="links_container" class="mb-3">
          <% (1..3).each do |i| %>
            <div class="row mb-3">
              <div class="col-4">
                <%= form.label :"link_name_#{i}", "リンク名#{i}" %>
                <%= form.text_field :"link_name_#{i}", class: "form-control" %>
              </div>
              <div class="col">
                <%= form.label :"link_url_#{i}", "リンクURL#{i}" %>
                <%= form.text_field :"link_url_#{i}", class: "form-control" %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- 画像 -->
        <div class="mb-3">
          <%= form.label :image, 'バンド写真' %>
          <%= form.file_field :image, class: "form-control" %>
        </div>

        <!-- 登録ボタン -->
        <div class="d-flex justify-content-end">
          <%= link_to "戻る", bands_path, class: "btn btn-secondary me-3" %>
          <%= form.submit '登録', class: "btn btn-primary " %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
