<div class="container py-5">
  <div class="row">
    <!-- 左半分に写真 -->
    <div class="col-md-6">
      <% if @band.image.attached? %>
        <%= image_tag @band.image, class: "img-fluid", alt: @band.band_name %>
      <% else %>
        <%= image_tag "default_band_image.jpg", class: "img-fluid", alt: "Default Band Image" %>
      <% end %>
    </div>

    <!-- 右半分にバンド情報 -->
    <div class="col-md-6 style=height: 300px; background-size: cover;">
      <h2><%= @band.band_name %></h2>

      <!-- メンバー -->
      <div class="mt-4">
      <% if (1..9).any? { |i| @band.send("member_#{i}").present? } %>
        <h5>メンバー</h5>
        <ul class="d-flex flex-wrap list-unstyled">
          <% (1..9).each do |i| %>
            <% member = @band.send("member_#{i}") %>
            <% unless member.blank? %>
              <li class="me-3"><%= member.strip %></li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>No members available.</p>
      <% end %>
      </div>

      <!-- 説明 -->
      <div class="mt-4">
        <h5>バンド紹介</h5>
        <p><%= @band.description %></p>
      </div>

      <!-- リンク集 -->
      <div class="mt-4">
        <h5>リンク</h5>
        <ul>
          <% (1..4).each do |i| %>
            <% link_name = @band.send("link_name_#{i}") %>
            <% link_url = @band.send("link_url_#{i}") %>
            <% if link_name.present? && link_url.present? %>
              <li><%= link_to link_name, link_url, target: "_blank", rel: "noopener noreferrer" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- 編集・削除ボタン -->
  <div class="row justify-content-end mt-4">
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <div>
          <%= link_to "バンド一覧に戻る", bands_path, class: "btn btn-primary mr-2" %>
          <% if user_signed_in? && current_user.id == @band.user_id %>
            <%= link_to "編集", edit_band_path(@band), class: "btn btn-primary mr-2" %>
            <%= link_to '削除', band_path(@band), data: { turbo_method: :delete, confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
