<div class="container marketing">
  <div class="col-md-12 text-center" style="padding-top: 5rem;">
    <h1 class="featurette-heading fw-normal lh-1">Okayama Music SQUARE</h1>
  </div>
<div class="row featurette">
  <% selected_release = Release.find_by(selected: true) %>

  <% if selected_release %>
    <hr class="featurette-divider" style="margin-top: 40px;">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1"><%= selected_release.title %></h3>
      <p class="lead"><%= selected_release.body.gsub("\n", "<br>").html_safe %></p>

      <% if selected_release.form_url.present? %>
        <a href="<%= selected_release.form_url %>" class="btn btn-primary btn-lg" style="margin: 10px;">申し込みフォームへ</a>
      <% end %>
    </div>

    <% if selected_release.image.attached? %>
      <div class="col-md-5 order-md-1 text-center">
        <%= image_tag selected_release.image, class: 'img-fluid rounded-start', alt: selected_release.title %>
      </div>
    <% else %>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image xlink:href="/images/about_image_8.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
        </svg>
      </div>
    <% end %>
  <% end %>
</div>


  <hr class="featurette-divider" style="margin-top: 40px;">

  <!-- Event Description Section -->
  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading fw-normal lh-1">SQUARE主催のストリートイベント</h3>
      <p class="lead">
        岡山に定期的にアカペラを披露するためのステージが欲しいという思いから始まりました。<br>
        一人でも多くのアカペラや音楽に接点の無い人たちに、シーンを知ってもらうきっかけになって欲しいというのが当イベントの趣旨です。<br><br>
        そのために定期的にストリートで開催する事にこだわっています。<br><br>
        プレイヤーの方々にも気軽にステージに立てる場としても知ってもらえれば幸いです。
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/image_2.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Open to Various Music Section -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h3 class="featurette-heading fw-normal lh-1">アカペラだけにこだわらない</h3>
      <p class="lead">
        あくまでアカペラは音楽を楽しむための演奏手法の一つであると考えています。<br>
        よってアカペラ以外の音楽も幅広く募集しています。<br><br>
        アカペラバンド以外での出演希望の方は<br>
        ヘッダーのSNSリンクよりDMにてご連絡ください。<br><br>
        SQUAREというアカペラサークルをきっかけに色んな音楽シーンが交流する広場のようなイベントになってほしいという想いをイベント名に込めています。<br>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <image xlink:href="/images/about_image_8.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Video Section -->
  <div class="row featurette">
    <div class="col-md-7">
      <h3 class="featurette-heading fw-normal lh-1">動画で見る</h3>
      <p class="lead">
        これまでのステージをアップしています。<br>
        是非ご覧ください♪<br><br>
      </p>
      <a href="https://www.youtube.com/@square5877/playlists" class="btn btn-primary" style="margin-bottom: 10px;">
        YouTube プレイリスト&raquo;
      </a>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" style="object-fit: contain;">
        <title>Placeholder</title>
        <image xlink:href="/images/image_4.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Main Activities Section -->
  <div class="col-md-12 text-center" style="margin-top: 80px;">
    <h1 class="featurette-heading fw-normal lh-1">主な活動内容</h1>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_4.jpg"></image>
          </svg>
        </div>
        <div>
          <h3 class="fw-normal"><br><br>定期活動会</h3>
          <%= link_to show_1_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_1.png" width="100%" height="100%" />
          </svg>
        </div>
        <div>
          <h3 class="fw-normal"><br>SQUARE<br>について</h3>
          <%= link_to about_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-bottom: 20px;">
      <div class="flex-container">
        <div class="flex-item">
          <svg class="bd-placeholder-img" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/images/about_image_6.jpg"></image>
          </svg>
        </div>
        <div>
          <h3 class="fw-normal">スターター<br>バンド<br>制度</h3>
          <%= link_to show_3_home_path, class: "btn btn-secondary" do %>
            詳しく知る &raquo;
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
</div>