<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h2 class="mt-5">リリースリスト</h2>

    <% @releases.each do |release| %>
      <%= form_with(model: release, url: release_path(release), method: :patch, local: true) do |f| %>
        <div class="form-check">
          <!-- タイトルリンク -->
          <%= link_to release.title, release_path(release), class: 'form-check-label' %>

          <!-- 作成日時 -->
          <div class="form-text mt-2">
            <small>作成日時: <%= release.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small>
          </div>

          <!-- 選択された場合のフィールド -->
          <%= f.check_box :selected, {}, true, false %> <!-- チェックボックスを使用 -->
        </div>
        <%= f.submit "選択", class: "btn btn-primary mt-3" %> <!-- ボタン -->
      <% end %>
    <% end %>

    <!-- 新規作成ボタン -->
    <%= link_to '新規作成', new_release_path, class: 'btn btn-success mt-3' %>
  </div>
</div>
