<div class="container mt-5">
  <div class="text-center"style="padding-top: 5rem;">
    <h1 class="mb-4">出演情報追加フォーム</h1>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <%= form_with(model: @gig, local: true) do |form| %>
        <% if @gig.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>
            <ul>
              <% @gig.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- イベント名 -->
        <div class="mb-3">
          <%= form.label :gig_name, 'イベント名', class: "form-label" %>
          <%= form.text_field :gig_name, class: "form-control", placeholder: "イベント名を入力", required: true %>
        </div>

        <!-- 出演バンド -->
        <div class="mb-3">
          <%= form.label :band_ids, '出演バンド', class: "form-label" %>
          <div class="form-check">
            <% @bands.each do |band| %>
              <%= check_box_tag 'gig[band_ids][]', band.id, @gig.band_ids.include?(band.id), id: "band_#{band.id}", class: "form-check-input" %>
              <%= label_tag "band_#{band.id}", band.band_name, class: "form-check-label" %><br>
            <% end %>
          </div>
        </div>

        <!-- 日付 -->
        <div class="mb-3">
          <%= form.label :date, '日付', class: "form-label" %>
          <%= form.date_field :date, class: "form-control", required: true %>
        </div>

        <!-- 開始時間 -->
        <div class="mb-3">
          <%= form.label :start_time, '開始時間', class: "form-label" %>
          <%= form.time_field :start_time, class: "form-control", required: true %>
        </div>

        <!-- 終了時間 -->
        <div class="mb-3">
          <%= form.label :end_time, '終了時間', class: "form-label" %>
          <%= form.time_field :end_time, class: "form-control" %>
        </div>

        <!-- 場所 -->
        <div class="mb-3">
          <%= form.label :location, '場所', class: "form-label" %>
          <%= form.text_field :location, class: "form-control", placeholder: "イベントの場所を入力" %>
        </div>

        <!-- 説明 -->
        <div class="mb-3">
          <%= form.label :description, '概要', class: "form-label" %>
          <%= form.text_area :description, class: "form-control", placeholder: "イベントの概要を入力（一覧画面で表示されるのは１００字まで）", required: true, rows: 3 %>
        </div>

        <!-- リンク入力欄 -->
        <div class="mb-3" id="links_container">
          <% (1..3).each do |i| %>
            <div class="row mb-2">
              <div class="col-md-4">
                <%= form.label "link_name_#{i}", "リンク名", class: "form-label" %>
                <%= form.text_field "link_name_#{i}", class: "form-control" %>
              </div>
              <div class="col-md">
                <%= form.label "link_url_#{i}", "リンクURL", class: "form-label" %>
                <%= form.text_field "link_url_#{i}", class: "form-control" %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- 画像 -->
        <div class="mb-3">
          <%= form.label :image, 'フライヤー', class: "form-label" %>
          <%= form.file_field :image, class: "form-control" %>
        </div>

        <!-- 登録ボタン -->
        <div class="d-flex justify-content-end">
          <%= link_to "戻る", gigs_path, class: "btn btn-secondary me-3" %>
          <%= form.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

