<div class="container mt-5">
  <div class="text-center">
    <h1 class="mb-4"><%= @gig.gig_name %></h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <!-- 出演バンド -->
      <div class="mb-3">
        <h5>出演</h5>
        <ul>
          <% @gig.bands.each do |band| %>
            <li style="font-size: 1.2em; font-weight: bold;">
              <%= link_to band.band_name, band_path(band) %>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- 日付と時間 -->
      <div class="mb-3">
        <h5>日時</h5>
        <% days_of_week = ["日", "月", "火", "水", "木", "金", "土"] %>
        <p style="font-size: 1.2em; font-weight: bold;">
          <%= "#{@gig.date.strftime("%y年%m月%d日")} (#{days_of_week[@gig.date.wday]})" %><br>
          <%= @gig.start_time.strftime("%H時%M分") %> ~ 
          <% if @gig.end_time.present? %> 
          <%= @gig.end_time.strftime("%H時%M分") %>
          <% end %>
        </p>
      </div>

      <!-- 場所 -->
      <div class="mb-3">
        <h5>場所</h5>
        <p style="font-size: 1.2em; font-weight: bold;"><%= @gig.location %></p>
      </div>

      <!-- 説明 -->
      <div class="mb-3">
        <h5>概要</h5>
        <div style="font-size: 1.2em; font-weight: bold;"><%= simple_format(@gig.description) %></div>
      </div>

      <!-- リンク -->
      <% if @gig.link_name.present? && @gig.link_url.present? %>
        <div class="mb-3" style="font-size: 1.2em; font-weight: bold;">
          <h5>リンク</h5>
          <a href="<%= @gig.link_url %>" target="_blank"><%= @gig.link_name %></a>
        </div>
      <% end %>

      <!-- 画像 -->
      <% if @gig.image.attached? %>
        <div class="mb-3">
          <%= image_tag @gig.image, class: "img-fluid" %>
        </div>
      <% end %>

      <!-- 編集・削除ボタン -->
      <div class="row justify-content-end mt-4">
        <div class="col-md-6">
          <div class="d-flex justify-content-end">
            <div>
              <%= link_to "一覧に戻る", gigs_path, class: "btn btn-primary mr-2" %>
              <% if user_signed_in? && current_user.id == @gig.user_id %>
                <%= link_to "編集", edit_gig_path(@gig), class: "btn btn-primary mr-2" %>
                <%= link_to '削除', gig_path(@gig), data: { turbo_method: :delete, confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
