<!DOCTYPE html>
<html lang="ja" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="岡山アカペラサークルSQUAREの公式サイトです。サークルの概要や最新のイベント情報などを掲載しています。">
    <title>岡山アカペラサークルSQUARE</title>
    
    <!-- Rails Asset Pipeline -->
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS CDN -->
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" rel="stylesheet" >
    

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#212529">
    <link rel="icon" href="/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="dark">

    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9468162571611862" crossorigin="anonymous"></script>
  </head>

  <body>
   <header data-bs-theme="dark" style="position: fixed; top: 0; left: 0; right: 0; background-color: #fff; z-index: 1000;">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Welcome! <% if user_signed_in? %><%= current_user.name %>さん<% end %></h4>
          <p class="text-body-secondary">NEWS</p>
          <ul>
            <% @topics&.each do |topic| %> 
              <li>
                <strong><%= topic.date.strftime("%Y/%m/%d") %></strong> - <%= topic.news %>
              </li>
            <% end %> 
          </ul>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li class="mb-1">
              <a href="https://twitter.com/square_okayama" class="btn btn-outline-light">Follow on X</a>
            </li>
            <li class="mb-1">
              <a href="https://www.instagram.com/square_okayama/" class="btn btn-outline-light">Like on Instagram</a>
            </li>
            <%# Uncomment the line below for LINE integration %>
            <%# <li class="mb-3"><a href="https://lin.ee/IuJbKyTu" class="btn btn-outline-light">LINE me</a></li> %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        To Home
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>


    <%= yield %>

    <footer class="text-body-secondary py-5">
      <!-- 上に戻るボタン -->
      <button id="myBtn" class="btn position-fixed bottom-0 end-0 m-3" title="Go to top">
        ↑
      </button>

      <div class="container">
        <p class="float-end mb-1"><a href="/">Back to top</a></p>
      </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
